* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  height: 100vh;
}

.back {
  font-size: 32px;
  text-decoration: none;
}

.app {
  background: #9aecdb;
  height: 600px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.group {
  width: 240px;
}

.group input {
  height: 30px;
  width: 120px;
}
