* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  height: 100vh;
  position: relative;
}

.back {
  font-size: 32px;
  text-decoration: none;
}

.converter {
  background: #9aecdb;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.group {
  width: 240px;
}

.group input {
  height: 30px;
  width: 120px;
}
